.intro_text {
  font-family: "pretendard";
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.status {
  margin-top: 20px;
  width: 160px;
  background-color: white;
  height: 160px;
  border-radius: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #1400c9;
  -webkit-box-shadow: 0px 7px 30px 2px rgba(172, 166, 255, 0.35);
          box-shadow: 0px 7px 30px 2px rgba(172, 166, 255, 0.35);
  background: -webkit-gradient(linear, left top, right bottom, from(#221ff0), to(#0a0881));
  background: linear-gradient(to bottom right, #221ff0, #0a0881);
}

.status_flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status_title {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  margin-top: -10px;
}

.status_number {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}

.status_message {
  position: absolute;
  bottom: 10px;
  background-color: white;
  border-radius: 50px;
  width: auto;
  height: 20px;
  padding: auto 10px;
}

.status_now_circle {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #00c43b;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-box-shadow: 0 0px 10px 0 #00b600;
          box-shadow: 0 0px 10px 0 #00b600;
}

.status_now_message {
  float: left;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 10px;
  text-align: left;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 2.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.notice {
  padding: 20px;
  font-family: "pretendard";
  font-weight: 600;
  margin: auto;
  width: 230px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.warning {
  position: relative;
  color: #5a5a5a;
  font-family: "pretendard";
  font-weight: 500;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

.button {
  background: -webkit-gradient(linear, left top, right top, from(#26ac5a), to(#11998e));
  background: linear-gradient(to right, #26ac5a, #11998e);
  width: 200px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 50px 2px rgba(38, 172, 90, 0.45);
          box-shadow: 0 5px 50px 2px rgba(38, 172, 90, 0.45);
  border: 1px solid #1b7b40;
}

.button_text {
  font-family: "pretendard";
  font-weight: 600;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sheet_title {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.emoji_font {
  width: 25px;
}

.sheet_button {
  width: calc(100% - 40px);
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#159987), to(#155799));
  background: linear-gradient(to right, #159987, #155799);
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sheet_button:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sheet_button_text {
  font-family: 'pretendard';
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#warning_strong {
  font-weight: 700;
  height: 0;
  margin-bottom: 7px;
}

#intro_highlight {
  background: -webkit-gradient(linear, left top, right top, from(#070064), to(#5347ea));
  background: linear-gradient(to right, #070064, #5347ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .intro_text {
    font-size: 22px;
  }
  .bottom_sheet {
    margin-bottom: 55px;
  }
}
/*# sourceMappingURL=Home.module.css.map */