.intro_text {
  font-family: "pretendard";
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.status {
  margin-top: 20px;
  width: 160px;
  background-color: white;
  height: 160px;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(20, 0, 201);
  box-shadow: 0px 7px 30px 2px rgba(172, 166, 255, 0.35);
  background: linear-gradient(to bottom right, #221ff0, #0a0881);
}

.status_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status_title {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  margin-top: -10px;
}

.status_number {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
}

.status_message {
  position: absolute;
  bottom: 10px;
  background-color: white;
  border-radius: 50px;
  width: auto;
  height: 20px;
  padding: auto 10px;
}

.status_now_circle {
  float: left;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 196, 59);
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 10px;
  box-shadow: 0 0px 10px 0 rgb(0, 182, 0);
}

.status_now_message {
  float: left;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 10px;
  text-align: left;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 2.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.notice {
  padding: 20px;
  font-family: "pretendard";
  font-weight: 600;
  margin: auto;
  width: 230px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.bottom_space {
  margin-bottom: 20px;
}

.rule {
  width: calc(100% - 30px);
  margin: auto;
  max-width: 730px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 3px 15px 0 rgba(155, 155, 155, 0.5);
  margin-top: 20px;
}
.rule .title {
  font-family: "pretendard";
  font-size: 20px;
  font-weight: 800;
}
.rule .table {
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin-top: 10px;
}
.rule .table_tbody {
  width: 100%;
  border-collapse: separate;
}
.rule .table_number {
  font-weight: 700;
  width: 32px;
  text-align: right;
  vertical-align: top;
}
.rule .table_rule {
  font-weight: 400;
  padding-left: 10px;
  text-align: left;
  vertical-align: top;
}

.warning {
  position: relative;
  color: rgb(90, 90, 90);
  font-family: "pretendard";
  font-weight: 500;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

.button {
  background: linear-gradient(to right, rgb(38, 172, 90), #11998e);
  width: 200px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 5px 50px 2px rgba(38, 172, 90, 0.45);
  border: 1px solid rgb(27, 123, 64);
}

.button_text {
  font-family: "pretendard";
  font-weight: 600;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.select_button {
  background: linear-gradient(to right, #e96443, #904e95);
  width: 200px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 5px 50px 2px rgba(172, 54, 38, 0.3);
  border: 1px solid rgb(231, 103, 86);
}

.sheet_title {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.emoji_font {
  width: 25px;
}

.sheet_button {
  width: calc(100% - 40px);
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: linear-gradient(to right, #159987, #155799);
  border-radius: 10px;
  transition: all 0.2s;
}
.sheet_button:active {
  filter: brightness(85%);
  transition: all 0.2s;
}

.sheet_button_text {
  font-family: "pretendard";
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.sheet_notice {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 25px;
  color: black;
  text-align: center;
  margin: 10px auto;
}

.sheet_notice_mini {
  font-family: "pretendard";
  font-weight: 400;
  font-size: 17px;
  color: black;
  text-align: center;
  margin: 10px auto;
}

.sheet_container {
  width: calc(100% - 40px);
  margin-left: 20px;
}

.sheet_info_box {
  width: calc(100% - 40px);
  margin: auto;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: left;
}

.notice_modal {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
}

#warning_strong {
  font-weight: 700;
  height: 0;
  margin-bottom: 7px;
}

#intro_highlight {
  background: linear-gradient(to right, rgb(7, 0, 100), rgb(83, 71, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sheet_button_cancel {
  background: linear-gradient(to right, #e96443, #904e95);
}

@media (max-width: 768px) {
  .intro_text {
    font-size: 22px;
  }
  .bottom_sheet {
    margin-bottom: 55px;
  }
  .bottom_space {
    margin-bottom: 75px;
  }
}/*# sourceMappingURL=Home.module.css.map */