@import "../../variables";

// 메인 화면은 width: $page-width 로 통일할 것.

.video_box {
    position: relative;
    z-index: 10;
    height: fit-content;
    max-height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 15px;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(100% - 30px);
}

.video {
    filter: blur(0px);
    width: 100vw;
    line-height: 0;
}

.video_text {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 15px;
    font-family: "pretendard";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

#video_text_school {
    background: linear-gradient(to left, #0575e6, #021b79);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.slogan {
    user-select: none;
    margin: auto;
    margin-top: 15px;
    width: $page-width;
    height: auto;
    border-radius: 15px;
    background: linear-gradient(
        270deg,
        #ffdddd,
        #ffe5dd,
        #ffeedd,
        #fff6dd,
        #ffffdd,
        #f6ffdd,
        #eeffdd,
        #e5ffdd,
        #ddffdd,
        #ddfff6,
        #ddffff,
        #ddf6ff,
        #ddeeff,
        #dde5ff,
        #ddddff,
        #e5ddff,
        #eeddff
    );
    background-size: 600% 600%;
    animation: lightCard 10s linear infinite;
    padding: 15px;
    margin-bottom: 15px;

    & .text {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    & #nowarp {
        white-space: nowrap;
    }
}

@keyframes lightCard {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.highlight {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 8px;
    border-radius: 15px;
    font-weight: 700;
}

.down_arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -10px;
}

.meal_container {
    // position: relative;
    margin: auto;
    margin-top: 15px;
    width: $page-width;
    height: auto;
    border-radius: 15px;
    background-color: white;
    padding: 25px;
    margin-bottom: 15px;
}

.meal_title {
    font-family: "pretendard";
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.meal_box {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.meal_item {
    padding: 5px;
    padding-left: 0;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    // box-shadow: 0px 3px 12px 2px rgba(182, 182, 182, 0.2);
    &:last-child {
        margin-bottom: 0;
    }
}

.meal_item_title {
    font-family: "pretendard";
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    // margin-left: -5px;
}

.meal_item_menu {
    font-family: "pretendard";
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    margin-top: 15px;
}

.meal_notice {
    font-family: "pretendard";
    font-weight: 500;
    font-size: 13px;
    color: rgb(80, 80, 80);
    margin-top: 10px;
    user-select: none;
}

#breakfast {
    background-color: rgb(255, 245, 223);
}

#lunch {
    background-color: rgb(238, 255, 215);
}

#dinner {
    background-color: rgb(249, 255, 200);
}

.space {
    height: 15px;
}

.warp_container {
    // position: relative;
    margin: auto;
    margin-top: 15px;
    width: $page-width;
    height: auto;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.warp_box {
    margin: auto;
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;

    &:first-child {
        margin-top: 0;
    }
}

.intro_big_text {
    font-family: "PyeongChangPeace-Bold";
    font-size: 23px;
    text-align: center;
    margin-top: 15px;
    user-select: none;
}

.intro_small_text {
    font-family: "pretendard";
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    user-select: none;
}

.warp_text_box {
    margin-left: 30px;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100%;
    user-select: none;
    cursor: pointer;
}

.warp_small_text {
    font-family: "pretendard";
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    // color: white;
}

.warp_big_text {
    font-family: "pretendard";
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.warp_big_small_text {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.emoji_font {
    // font-size: 27px;
    width: 27px;
}

.warp_big_text_line {
    float: left;
}

.account_card {
    margin: auto;
    margin-top: 15px;
    width: $page-width;
    height: 55px;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex: 2;
    justify-content: space-between;
    background-color: #fee500;
}

.account_text {
    font-family: "pretendard";
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    user-select: none;
}

.account_logout_box {
    height: 45px;
    width: auto;
    padding: 0 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #191919;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 15px;
}

.account_logout {
    font-weight: 300;
    line-height: 45px;
    user-select: none;
    cursor: pointer;
    color: white;
}

.account_login_box {
    height: 45px;
    width: auto;
    padding: 0 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 15px;
}

.account_login {
    font-weight: 700;
    line-height: 45px;
    user-select: none;
    cursor: pointer;
    color: black;
}

.notice {
    width: calc(100% - 30px);
    margin: auto;
    max-width: 685px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 3px 15px 0 rgba(155, 155, 155, 0.5);
    margin-top: 20px;

    & .title {
        text-align: left;
        font-family: "pretendard";
        font-size: 20px;
        font-weight: 800;
    }

    & .table {
        border-collapse: separate;
        border-spacing: 0px 5px;
        margin-top: 10px;
    }

    & .table_tbody {
        width: 100%;
        border-collapse: separate;
    }

    & .table_number {
        font-weight: 700;
        width: fit-content;
        text-align: right;
        vertical-align: top;
    }

    & .table_text {
        font-weight: 400;
        padding-left: 10px;
        text-align: left;
        vertical-align: top;
    }
}

@media (max-width: 730px) {
    .warp_container,
    .meal_container {
        width: calc(100% - 30px);
    }
    .account_card,
    .slogan {
        width: calc(100% - 30px);
    }
}

#account_nologin_text {
    color: white;
}

#account_nologin {
    background: #005c97;
    background: -webkit-linear-gradient(to right, #363795, #005c97);
    background: linear-gradient(to right, #363795, #005c97);
}

#umbrella {
    color: white;
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    box-shadow: 0px 7px 15px 2px rgba(102, 125, 182, 0.7);
}

#club {
    color: white;
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    border: 1px solid rgb(210, 200, 255);
    box-shadow: 0px 7px 15px 2px rgba(140, 45, 225, 0.7);
}

#community {
    color: black;
    background: #0cebeb;
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    border: 1px solid rgb(25, 156, 123);
    box-shadow: 0px 7px 15px 2px rgba(30, 230, 180, 0.7);
}

#music {
    color: black;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    border: 1px solid #26a356;
    box-shadow: 0px 7px 15px 2px rgba(34, 211, 102, 0.7);
}
