
.entering {
    // position: absolute;
    opacity: 0;
}

.entered {
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    opacity: 1;
}

.exiting {
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    opacity: 0;
}