.not_admin {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;

    & .text {
        font-family: "pretendard";
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        user-select: none;
    }

    & .user {
        font-family: "pretendard";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }
}

.page_title {
    width: calc(100% - 40px);
    max-width: 730px;
    margin: auto;

    & .text {
        font-family: "pretendard";
        font-weight: 700;
        font-size: 25px;
        text-align: left;
        user-select: none;
    }
}

.box {
    width: calc(100% - 40px);
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    max-width: 750px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        transition: all 0.2s;
        transform: scale(1.015);
    }

    &:active {
        transition: all 0.2s;
        transform: scale(0.975);
    }

    &:focus {
        outline: none;
    }
}

.setting_text {
    font-family: "pretendard";
    font-size: 17px;
    font-weight: 600;
}

.switch {
    right: 10px;
}

.login_button {
    cursor: pointer;
    user-select: none;
    font-family: "pretendard";
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 10px 17px;
    border-radius: 20px;
}

.rental_list {
    width: calc(100% - 40px);
    max-width: 750px;
    font-family: "pretendard";
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 3px 20px 0px #b3b3b3;
    background-color: white;

    & tr td {
        border: 1px solid #b3b3b3;
        padding: 8px 10px;
        text-align: center;
    }
}

.rental_list_head {
    font-weight: 600;
    // user-select: none;
}

.rental_list_row {
    border-collapse: separate;
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.rental_list_no {
    width: 35px;
}

.loading {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;

    & .text {
        font-family: "pretendard";
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        user-select: none;
    }
}

.bottomSheetTitle {
    font-family: "pretendard";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

#bottomSheetTable {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #b3b3b3;
    user-select: text;
}

.bottomSheetButtonGroup {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    margin: auto;
    margin-top: 20px;
    width: calc(100% - 40px);
    user-select: none;
    background-color: white;

    & .button {
        display: flex;
        flex: 2;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        border-bottom: 1px solid #b3b3b3;
        padding: 15px 15px;
        cursor: pointer;
        transition: all 0.3s;

        & .icon {
            margin-right: 5px;
        }

        & .text {
            font-family: "pretendard";
            font-weight: 600;
            font-size: 16px;
        }

        &:hover {
            transition: all 0.3s;
            background-color: rgb(230, 230, 230);
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.bottom_sheet_notice {
    font-family: 'pretendard';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: rgb(255, 247, 209);
    border: 1px solid rgb(204, 167, 0);
    box-shadow: 0 5px 20px 0 rgba(204, 167, 0, 0.3);
    border-radius: 15px;
}

#rental_list_row_not_returned {
    background-color: rgb(255, 222, 195);
    transition: all 0.3s;

    &:hover {
        transition: all 0.3s;
        background-color: rgb(223, 187, 157);
    }
}

.rental_list_row_detail_blue {
    color: blue;
    font-weight: 700;
}

.rental_list_row_detail_red {
    color: red;
    font-weight: 700;
}

.rental_list_not_returned {
    width: 90px;
}

.bottom_space {
    margin-bottom: 20px;
}

.space {
    height: 20px;
}

.rental_list_no_data {
    font-family: "pretendard";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .bottom_space {
        margin-bottom: 75px;
    }
    .bottom_sheet_mobile {
        height: 55px;
    }
}
