.video_box {
  position: relative;
  height: calc(100vh - 70px - 15px);
  width: calc(100% - 30px);
  background-color: rgb(190, 190, 190);
  margin: auto;
  overflow: hidden;
  border-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.video {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
}

.video_bug {
  width: 100%;
  height: auto;
}

.video_text_box {
  position: absolute;
  width: 100%;
  height: calc(100vh - 70px - 15px);
  background-color: rgba(50, 50, 50, 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 30px;
  z-index: 2;
}

.video_text {
  text-align: left;
  font-family: "pretendard";
  font-weight: 600;
  font-size: 27px;
  color: white;
  position: absolute;
  bottom: 67px;
  left: 35px;
}

.video_top_text {
  text-align: left;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 35px;
  left: 35px;
}

.highlight {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px 8px;
  border-radius: 15px;
  font-weight: 700;
}

.down_arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -10px;
}

.warp_container {
  margin: auto;
  margin-top: 15px;
  width: 685px;
  height: auto;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
}

.warp_box {
  margin: auto;
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
}
.warp_box:first-child {
  margin-top: 0;
}

@media (max-width: 730px) {
  .warp_container {
    width: calc(100% - 30px);
  }
}
.intro_big_text {
  font-family: "PyeongChangPeace-Bold";
  font-size: 23px;
  text-align: center;
  margin-top: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro_small_text {
  font-family: "pretendard";
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.warp_text_box {
  margin-left: 30px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.warp_small_text {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.warp_big_text {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.warp_big_small_text {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

#club {
  color: white;
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  border: 1px solid rgb(210, 200, 255);
  box-shadow: 0px 7px 15px 2px rgba(140, 45, 225, 0.7);
}

#community {
  color: black;
  background: #0cebeb;
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  border: 1px solid rgb(25, 156, 123);
  box-shadow: 0px 7px 15px 2px rgba(30, 230, 180, 0.7);
}/*# sourceMappingURL=Home.module.css.map */