
// Global
$background-color: #e6ebec;
$page-width: 685px;

// Header
$header-background-color: rgba(230, 235, 236, 0.45); // Global:background-color 와 같은 색상
$header-height: 70px;

// Service - Club
$service-header-height: 70px;