@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
}

body {
  background-color: $background-color;
  font-family: 'pretendard';
}

a {
  color: inherit;
  text-decoration: none;
}

// 평창평화체
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.EZDrawer {
  position: relative;
  z-index: 10 !important;
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.25);
  // --rsbs-bg: #31313a;
  // --rsbs-handle-bg: #31313a;
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

@media (min-width: 500px) {
  :root {
    --rsbs-max-w: 500px;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}